@model LuigiiLuxury.Domain.ViewModels.ChangePasswordFormViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<div>
    <span style="font-size: 11px; text-transform: uppercase; display: block; padding: 15px 0;"><a href="/Account/Index"><i class="fa fa-solid fa-chevron-left"></i> Back</a></span>
</div>
<hr />

<div style="min-height: 80vh;" class="row d-flex justify-content-center align-content-center">
    <div class="col-md-6">
        <div class="py-5" id="">
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "card-body needs-validation" }))
            {
                @Html.AntiForgeryToken()

                <!-- Current Password -->
                <div class="forms-inputs mb-4">
                    @Html.LabelFor(m => m.CurrentPassword)
                    @Html.TextBoxFor(m => m.CurrentPassword, new { @class = "form-control", placeholder = "Current Password", type = "password" })
                    @Html.ValidationMessage("ExistingError")
                </div>

                <!-- Password -->
                <div class="forms-inputs mb-4">
                    @Html.LabelFor(m => m.Password)
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", type = "password" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>

                <!-- Confirm Password -->
                <div class="forms-inputs mb-4">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", type = "password" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>

                <!--Id-->
                @Html.HiddenFor(m => m.Id)

                <!--Email-->
                @Html.HiddenFor(m => m.Email)

                @Html.ValidationSummary()
                @Html.ValidationMessage("CustomError")

                <div class="row d-flex justify-content-between">
                    <div class="col-5 d-grid p-0"><button class="btn btn-dark px-5">save</button></div>
                    <div class="col-5 d-grid p-0"><a href="/Account/Index" class="btn btn-danger">Cancel</a></div>
                </div>
            }
        </div>
    </div>
</div>
