@model LuigiiLuxury.Domain.ViewModels.UserFormViewModel

<form class="border p-4">
    <!-- Id -->
    <div class="form-group mb-2 row d-flex align-content-center justify-content-betweben">
        <label class="col-sm-3 col-form-label">ID</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputID" placeholder="ID" disabled="disabled" required>
            @Html.ValidationMessageFor(m => m.Id)
        </div>
    </div>

    <!-- Role -->
    <div class="form-group mb-2 row d-flex align-content-center justify-content-between">
        <label class="col-sm-3 col-form-label">Role</label>
        <div class="col-sm-9">
            @Html.Partial("_InputSelectOptionRole")
            @Html.ValidationMessageFor(m => m.RoleId)
        </div>
    </div>

    <!-- First Name -->
    <div class="form-group mb-2 row d-flex align-content-center justify-content-betweben">
        <label class="col-sm-3 col-form-label">First Name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputFirstName" placeholder="enter first name">
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>
    </div>

    <!-- Last Name -->
    <div class="form-group mb-2 row d-flex align-content-center justify-content-between">
        <label class="col-sm-3 col-form-label">Last Name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputLastName" placeholder="enter last name">
            @Html.ValidationMessageFor(m => m.LastName)
        </div>
    </div>

    <!-- Phone Number -->
    <div class="form-group mb-2 row d-flex align-content-center justify-content-between">
        <label class="col-sm-3 col-form-label">Phone Number</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputPhoneNumber" placeholder="enter phone number">
            @Html.ValidationMessageFor(m => m.PhoneNumber)
        </div>
    </div>

    <!-- Address -->
    <div class="form-group mb-2 row d-flex align-content-center justify-content-between">
        <label class="col-sm-3 col-form-label">Address</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputAddress" placeholder="enter address">
            @Html.ValidationMessageFor(m => m.Address)
        </div>
    </div>

    <!-- City -->
    <div class="form-group mb-2 row d-flex align-content-center justify-content-between">
        <label class="col-sm-3 col-form-label">City</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="inputCity" placeholder="enter city">
        </div>
    </div>

    <div class="form-group row d-flex align-content-center justify-content-between mt-4">
        <div class="col-5 col-sm-5 col-md-5 col-lg-4 col-xl-4 d-grid">
        </div>
        <div class="col-5 col-sm-5 col-md-5 col-lg-4 col-xl-4 d-grid">
            <button id="create" type="button" class="btn btn-dark" onclick="Update()">Update</button>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        ShowDetails();
    })

    function ShowDetails() {
        $.ajax({
            type: "GET",
            url: "/Api/Users/GetById?userId=" + @Model.Id,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#inputID").val(response.Id);
                $("#inputFirstName").val(response.FirstName);
                $("#inputLastName").val(response.LastName);
                $("#inputPhoneNumber").val(response.PhoneNumber);
                $("#inputAddress").val(response.Price);
                $("#inputCity").val(response.City);
                $("#inputRole").val(response.Role.Id);
            },
            error: function (errorMessage) {
                alert(errorMessage);
            }
        })
    }

    function Update() {
        var user = {};

        user.Id = $("#inputID").val();
        user.FirstName = $("#inputFirstName").val();
        user.LastName = $("#inputLastName").val();
        user.PhoneNumber = $("#inputPhoneNumber").val();
        user.BrandId = $("#inputBrand").val();
        user.City = $("#inputCity").val();
        user.RoleId = $("#inputRole").val();

        $.ajax({
            type: "PUT",
            url: "/Api/Users/Update?userId=" + @Model.Id,
            data: JSON.stringify(user),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                ShowDetails();
            },
            error: function (errorMessage) {
                alert(errorMessage);
            }
        })
    }
</script>